.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999999;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgb(229, 231, 235);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: scale .5s ease;
}

.logoScrolled {
  scale: .7 ;
}

.logoText {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(109, 90, 90);
}

.desktopNav {
  display: none;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .desktopNav {
    display: flex;
  }
}

.navLink {
  color: rgb(55, 65, 81);
  transition: color 0.3s;
}

.navLink:hover {
  color: rgb(37, 99, 235);
}

.menuButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  gap: 0.375rem;
}

@media (min-width: 768px) {
  .menuButton {
    display: none;
  }
}

.menuLine {
  display: block;
  width: 1.5rem;
  height: 0.125rem;
  background-color: rgb(55, 65, 81);
  transition: all 0.3s;
}

.menuLineActive1 {
  transform: rotate(45deg) translateY(0.7rem);
}

.menuLineActive2 {
  opacity: 0;
}

.menuLineActive3 {
  transform: rotate(-45deg) translateY(-0.7rem);
}

.mobileNavWrapper {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s;
}

@media (min-width: 768px) {
  .mobileNavWrapper {
    display: none;
  }
}

.mobileNavOpen {
  max-height: 16rem;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem;
  background-color: transparent;
  border-top: 1px solid rgb(229, 231, 235);
}
