.content {
  @media (min-width: 640px) {
    margin-top: 70px;
    width: 40vw;
    max-width: 500px;
  }
}

.heroBannerRoot {
  min-height: 100vh;
  background-size: cover;
  background-position: 50%;
  padding-top: 70px;

  @media (min-width: 640px) {
    min-height: 80vh;
    background-position: 100% 75%;
  }
}

.description {
  margin-top: 1rem;
  font-size: 1.125rem;
  text-align: center;
}
