.content {
  @media (min-width: 640px) {
    width: 40vw;
    max-width: 500px;
    margin-top: 70px;
  }
}

.heroBannerRoot {
  min-height: 80vh;
  background-image: url("/herobanner-bg.jpeg");
  background-size: cover;
  background-position: center;
  padding-top: 70px;
}

.description {
  margin-top: 1rem;
  font-size: 1.125rem;
  text-align: center;
}
