.content {
  margin: auto;
  max-width: 500px;
  @media (min-width: 769px) {
    margin: 50px;
    width: 100%;
  }
}

.heroBannerRoot {
  padding-top: 70px;
  height: 100vh;
  background-size: cover;
  background-position: 20% 50%;

  @media (min-width: 789px) {
    height: 85vh;
    background-position: 75% 100%;
  }

  @media (min-width: 1025px) {
    background-position: 100% 0%;
  }
}

.description {
  margin-top: 1rem;
  font-size: 1.125rem;
  text-align: center;
}
